In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
# Read in the data
df = pd.read_excel("total_miles_by_year.xls")
df.head()

,Country Name,Country Code,Indicator Name,1985,1986,1987,1988,1989,1990,1991,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Aruba,ABW,"Air transport, passengers carried",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Air transport, passengers carried",225500.0,184400.0,217900.0,201000.0,220000.0,241400.0,212300.0,...,NaN,NaN,NaN,NaN,NaN,1999127.0,2.279341e+06,1.737962e+06,2044188.0,2209428.0
2,Angola,AGO,"Air transport, passengers carried",894200.0,727000.0,746000.0,750000.0,509800.0,451500.0,456000.0,...,239795.0,262666.0,277361.0,283887.0,274869.0,1010194.0,9.877980e+05,1.132424e+06,1321872.0,1409952.0
3,Albania,ALB,"Air transport, passengers carried",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,195702.0,213315.0,238913.0,243691.0,231263.0,768533.0,8.297789e+05,8.143397e+05,865848.0,151632.0
4,Andorra,AND,"Air transport, passengers carried",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# Don't need the first three columns for my viz, drop them. 
df.drop(columns=['Country Code', "Indicator Name"], inplace=True)

In [57]:
df

,Country Name,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,225500.0,184400.0,217900.0,201000.0,220000.0,241400.0,212300.0,212300.0,197000.0,...,NaN,NaN,NaN,NaN,NaN,1999127.0,2.279341e+06,1.737962e+06,2044188.0,2.209428e+06
2,Angola,894200.0,727000.0,746000.0,750000.0,509800.0,451500.0,456000.0,440000.0,333500.0,...,239795.0,262666.0,277361.0,283887.0,274869.0,1010194.0,9.877980e+05,1.132424e+06,1321872.0,1.409952e+06
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,195702.0,213315.0,238913.0,243691.0,231263.0,768533.0,8.297789e+05,8.143397e+05,865848.0,1.516320e+05
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",426200.0,589700.0,575500.0,635500.0,667900.0,671100.0,540500.0,800400.0,847900.0,...,1083404.0,1162316.0,1073493.0,1064878.0,1050486.0,1536556.0,1.492073e+06,1.299707e+06,1664220.0,1.665552e+06
261,South Africa,4337300.0,3825000.0,4386900.0,5125900.0,5641500.0,5364900.0,4818600.0,4685000.0,5581500.0,...,11844657.0,12932671.0,12870324.0,13135437.0,12503629.0,15781210.0,1.640778e+07,1.757157e+07,16311250.0,1.702664e+07
262,Zambia,253900.0,237700.0,257900.0,303500.0,365300.0,407200.0,292500.0,246000.0,219000.0,...,53880.0,58679.0,61589.0,62467.0,NaN,260502.0,3.060343e+05,1.272966e+05,10032.0,8.592000e+03
263,Zimbabwe,453100.0,451500.0,459900.0,525100.0,583400.0,601300.0,740200.0,677900.0,594600.0,...,243022.0,239045.0,254783.0,264404.0,261480.0,258828.0,2.793476e+05,3.209460e+05,351564.0,3.012600e+05

In [58]:
# I see a lot of NaNs in the miles columns. Replace those with a value of 0.
df.fillna(0, inplace=True)

In [59]:
# I want year to be a column, so I'm going to transpose the dataframe and reset the index.
df = df.set_index('Country Name').T.rename_axis('Year')
df.reset_index(inplace=True)
df

Country Name,Year,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1985,0.0,2.255000e+05,894200.0,0.000000,0.0,2.998810e+07,7.175000e+05,4.713200e+06,0.0,...,0.0,8.400000e+04,14400.000000,7.831981e+08,0.0,0.0,4.262000e+05,4.337300e+06,253900.00,453100.000000
1,1986,0.0,1.844000e+05,727000.0,0.000000,0.0,2.790540e+07,9.352000e+05,5.034700e+06,0.0,...,0.0,8.800000e+04,15300.000000,8.425943e+08,0.0,0.0,5.897000e+05,3.825000e+06,237700.00,451500.000000
2,1987,0.0,2.179000e+05,746000.0,0.000000,0.0,2.911300e+07,1.093000e+06,5.405800e+06,0.0,...,0.0,8.700000e+04,16600.000000,9.048381e+08,0.0,0.0,5.755000e+05,4.386900e+06,257900.00,459900.000000
3,1988,0.0,2.010000e+05,750000.0,0.000000,0.0,3.066000e+07,1.329500e+06,5.068800e+06,0.0,...,0.0,8.780000e+04,18500.000000,9.538960e+08,0.0,0.0,6.355000e+05,5.125900e+06,303500.00,525100.000000
4,1989,0.0,2.200000e+05,509800.0,0.000000,0.0,3.152510e+07,1.481700e+06,4.748400e+06,0.0,...,0.0,8.820000e+04,18500.000000,9.832088e+08,0.0,0.0,6.679000e+05,5.641500e+06,365300.00,583400.000000
5,1990,0.0,2.414000e+05,451500.0,0.000000,0.0,3.148400e+07,1.685900e+06,5.369100e+06,0.0,...,0.0,8.900000e+04,18500.000000,1.024977e+09,0.0,0.0,6.711000e+05,5.364900e+06,407200.00,601300.000000
6,1991,0.0,2.123000e+05,456000.0,0.000000,0.0,2.883510e+07,2.041800e+06,4.545900e+06,0.0,...,0.0,1.980000e+05,53000.000000,1.133228e+09,0.0,0.0,5.405000e+05,4.818600e+06,292500.00,740200.000000
7,1992,0.0,2.123000e+05,440000.0,0.000000,0.0,3.387710e+07,2.508800e+06,5.251400e+06,0.0,...,0.0,2.042000e+05,59200.000000,1.145437e+09,0.0,0.0,8.004000e+05,4.685000e+06,246000.00,677900.000000
8,1993,0.0,1.970000e+05,333500.0,0.000000,0.0,3.401740e+07,2.936300e+06,5.104500e+06,0.0,...,0.0,1.200000e+06,66700.000000,1.142265e+09,0.0,0.0,8.479000e+05,5.581500e+06,219000.00,594600.000000
9,1994,0.0,2.384000e+05,519000.0,9100.000000,0.0,3.596830e+07,3.368700e+06,6.260700e+06,0.0,...,0.0,1.670000e+06,70400.000000,1.233233e+09,0.0,0.0,7.906000e+05,5.801600e+06,234700.00,675300.000000
10,1995,0.0,2.504000e+05,552500.0,13000.000000,0.0,3.591820e+07,3.550500e+06,6.641700e+06,0.0,...,0.0,2.290000e+06,65600.000000,1.302892e+09,0.0,0.0,3.750000e+05,6.395500e+06,0.00,625700.000000
11,1996,0.0,2.556000e+05,585000.0,29000.000000,0.0,3.802420e+07,4.063500e+06,7.913000e+06,358100.0,...,0.0,2.107500e+06,72800.000000,1.390964e+09,270000.0,0.0,5.875000e+05,7.183100e+06,0.00,653700.000000
12,1997,0.0,8.960000e+04,555000.0,55400.000000,0.0,3.969210e+07,4.720400e+06,8.599800e+06,367800.0,...,0.0,2.527300e+06,75000.000000,1.455104e+09,74900.0,0.0,7.069000e+05,7.274200e+06,49600.00,790100.000000
13,1998,0.0,5.270000e+04,552900.0,21200.000000,0.0,4.040370e+07,5.263700e+06,8.446500e+06,365300.0,...,0.0,2.303500e+06,88700.000000,1.466962e+09,148800.0,0.0,7.650000e+05,6.479500e+06,48800.00,788900.000000
14,1999,0.0,1.402000e+05,293800.0,91500.000000,0.0,4.326990e+07,5.840300e+06,9.191900e+06,343100.0,...,0.0,2.600000e+06,86000.000000,1.562256e+09,155500.0,0.0,7.310000e+05,7.403800e+06,77700.00,651000.000000
15,2000,0.0,1.497050e+05,235448.0,136622.000000,0.0,4.572376e+07,6.893085e+06,8.915627e+06,298232.0,...,0.0,2.877894e+06,101503.000000,1.674065e+09,164142.0,0.0,8.416090e+05,8.000757e+06,89628.00,607976.000000
16,2001,0.0,0.000000e+00,193317.0,146273.000000,0.0,4.676923e+07,7.675845e+06,5.808770e+06,369164.0,...,0.0,3.427176e+06,97471.000000,1.655230e+09,173479.0,0.0,8.413660e+05,7.948374e+06,48517.00,308096.000000
17,2002,0.0,0.000000e+00,189619.0,137569.000000,0.0,4.987184e+07,9.667005e+06,5.662905e+06,407777.0,...,0.0,4.038133e+06,104294.000000,1.627405e+09,182292.0,0.0,8.692960e+05,8.052660e+06,47075.00,250532.000000
18,2003,0.0,0.000000e+00,198253.0,158888.000000,0.0,5.246500e+07,1.160984e+07,6.036360e+06,366581.0,...,0.0,3.969320e+06,83151.000000,1.665309e+09,198115.0,0.0,8.442840e+05,9.159815e+06,50977.00,200857.000000
19,2004,0.0,0.000000e+00,222032.0,179543.000000,0.0,6.095050e+07,1.431433e+07,6.795484e+06,509904.0,...,0.0,5.049706e+06,103939.000000,1.888695e+09,246875.0,0.0,1.022079e+06,9.878598e+06,49888.00,225021.000000
20,2005,0.0,0.000000e+00,239795.0,195702.000000,0.0,4.360865e+07,0.000000e+00,6.938436e+06,555795.0,...,0.0,5.453683e+06,112254.000000,1.969591e+09,266625.0,0.0,1.083404e+06,1.184466e+07,53880.00,243022.000000
21,2006,0.0,0.000000e+00,262666.0,213315.000000,0.0,4.787537e+07,0.000000e+00,6.611915e+06,605817.0,...,0.0,5.283831e+06,116744.000000,2.072414e+09,287596.0,0.0,1.162316e+06,1.293267e+07,58679.00,239045.000000
22,2007,0.0,0.000000e+00,277361.0,238913.000000,0.0,5.172264e+07,0.000000e+00,7.036784e+06,560626.0,...,0.0,7.194443e+06,122581.000000,2.209136e+09,294927.0,0.0,1.073493e+06,1.287032e+07,61589.00,254783.000000
23,2008,0.0,0.000000e+00,283887.0,243691.000000,0.0,5.354202e+07,0.000000e+00,6.147290e+06,623688.0,...,0.0,9.991145e+06,120742.000000,2.208219e+09,290503.0,0.0,1.064878e+06,1.313544e+07,62467.00,264404.000000
24,2009,0.0,0.000000e+00,274869.0,231263.000000,0.0,9.537205e+07,3.176163e+07,5.694547e+06,653320.0,...,0.0,1.107360e+07,112169.000000,2.249729e+09,270908.0,0.0,1.050486e+06,1.250363e+07,0.00,261480.000000
25,2010,0.0,1.999127e+06,1010194.0,768533.000000,0.0,1.267965e+08,4.494814e+07,9.025035e+06,704753.0,...,0.0,1.437762e+07,247944.000000,2.628261e+09,0.0,0.0,1.536556e+06,1.578121e+07,260502.00,258828.000000
26,2011,0.0,2.279341e+06,987798.0,829778.923871,0.0,1.358376e+08,5.034289e+07,8.590840e+06,392312.0,...,0.0,1.654448e+07,240396.437704,2.786954e+09,0.0,0.0,1.492073e+06,1.640778e+07,306034.30,279347.618392
27,2012,0.0,1.737962e+06,1132424.0,814339.730279,0.0,1.520142e+08,5.994877e+07,9.375670e+06,364733.0,...,0.0,1.697605e+07,318747.000000,2.894055e+09,0.0,0.0,1.299707e+06,1.757157e+07,127296.65,320945.999811
28,2013,0.0,2.044188e+06,1321872.0,865848.000000,0.0,1.662093e+08,6.815186e+07,1.195128e+07,45000.0,...,0.0,2.042931e+07,327060.000000,3.048275e+09,0.0,0.0,1.664220e+06,1.631125e+07,10032.00,351564.000000
29,2014,0.0,2.209428e+06,1409952.0,151632.000000,0.0,1.816273e+08,7.560820e+07,1.212191e+07,0.0,...,0.0,2.382601e+07,320232.000000,3.227291e+09,76944.0,0.0,1.665552e+06,1.702664e+07,8592.00,301260.000000

In [61]:
# Sweet! I just realized there is a column for world, which is what I need, so I'm going to subset year and world columns. 
world_miles = df[['Year', 'World']]
world_miles

Country Name  Year         World
0             1985  7.831981e+08
1             1986  8.425943e+08
2             1987  9.048381e+08
3             1988  9.538960e+08
4             1989  9.832088e+08
5             1990  1.024977e+09
6             1991  1.133228e+09
7             1992  1.145437e+09
8             1993  1.142265e+09
9             1994  1.233233e+09
10            1995  1.302892e+09
11            1996  1.390964e+09
12            1997  1.455104e+09
13            1998  1.466962e+09
14            1999  1.562256e+09
15            2000  1.674065e+09
16            2001  1.655230e+09
17            2002  1.627405e+09
18            2003  1.665309e+09
19            2004  1.888695e+09
20            2005  1.969591e+09
21            2006  2.072414e+09
22            2007  2.209136e+09
23            2008  2.208219e+09
24            2009  2.249729e+09
25            2010  2.628261e+09
26            2011  2.786954e+09
27            2012  2.894055e+09
28            2013  3.048275e+09
29            2014  3.227291e+09

In [67]:
# Write to csv to use in Tableau
world_miles.to_csv('world_miles.csv', index=False)